@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: BebasNeue;
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}


* {
    padding: 0%;
    margin: 0%;
    font-family: Roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: BebasNeue;
    letter-spacing: 5px;
}

h3 {
    margin: 10px 0px;
    color: rgb(171, 47, 2);
}

#pagina {
    width: 100%;
    height: auto;
}

header {
    max-width: 100%;
    height: fit-content;
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    align-content: center;
}

nav {
    width: fit-content;
    height: 100%;
    display: flex;
    align-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

#logo {
    width: 150px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 90%;
    height: auto;
    padding: 20px 0px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(202, 202, 202);
}

#banner {
    width: 100%;
    background-color: rgb(31, 103, 237);
    color: white;
    border-radius: 0%;
}

a {
    width: 60%;
    margin: 20px auto;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
}

.efeito {
    width: 100%;
    height: 100%;
    background-color: rgba(52, 52, 52, 0.577);
}

.dicionarioOpcao {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    transition: 1s;
}

/* zoom */
.dicionarioOpcao:hover {
    transition: 1s;
    background-position: center;
}

.dicionarioDescricao {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* FLEXBOX */

#descFlexBox {
    background: rgb(220, 20, 60);
    background: linear-gradient(90deg, rgba(220, 20, 60, 1) 52%, rgba(220, 20, 60, 1) 75%, rgba(0, 212, 255, 0) 100%);
}

#flexboxSection {
    background-image: url(../images/backgrounds/flexBg.png);
}

/* BOOTSTRAP */

#descBootstrap {
    background: rgb(13, 110, 253);
    background: linear-gradient(90deg, rgba(13, 110, 253, 1) 52%, rgba(13, 110, 253, 1) 75%, rgba(0, 212, 255, 0) 100%);
}

#bootstrapSection {
    background-image: url(../images/backgrounds/bootstrapBg.png);
}

/* BOOTSTRAP */

#descBooks {
    background: rgb(47, 50, 54);
    background: linear-gradient(90deg, rgba(47, 50, 54, 1) 52%, rgba(47, 50, 54, 1) 75%, rgba(47, 50, 54, 0) 100%);
}

#booksSection {
    background-image: url(../images/backgrounds/bookBg.png);
}